@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.1721527019%, transparent 6.1721527019%, transparent 8.5298042998%, #eee 8.5298042998%, #eee 14.7019570017%, transparent 14.7019570017%, transparent 17.0596085997%, #eee 17.0596085997%, #eee 23.2317613015%, transparent 23.2317613015%, transparent 25.5894128995%, #eee 25.5894128995%, #eee 31.7615656014%, transparent 31.7615656014%, transparent 34.1192171993%, #eee 34.1192171993%, #eee 40.2913699012%, transparent 40.2913699012%, transparent 42.6490214991%, #eee 42.6490214991%, #eee 48.821174201%, transparent 48.821174201%, transparent 51.178825799%, #eee 51.178825799%, #eee 57.3509785009%, transparent 57.3509785009%, transparent 59.7086300988%, #eee 59.7086300988%, #eee 65.8807828007%, transparent 65.8807828007%, transparent 68.2384343986%, #eee 68.2384343986%, #eee 74.4105871005%, transparent 74.4105871005%, transparent 76.7682386985%, #eee 76.7682386985%, #eee 82.9403914003%, transparent 82.9403914003%, transparent 85.2980429983%, #eee 85.2980429983%, #eee 91.4701957002%, transparent 91.4701957002%, transparent 93.8278472981%, #eee 93.8278472981%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.1721527019%, transparent 6.1721527019%, transparent 8.5298042998%, #eee 8.5298042998%, #eee 14.7019570017%, transparent 14.7019570017%, transparent 17.0596085997%, #eee 17.0596085997%, #eee 23.2317613015%, transparent 23.2317613015%, transparent 25.5894128995%, #eee 25.5894128995%, #eee 31.7615656014%, transparent 31.7615656014%, transparent 34.1192171993%, #eee 34.1192171993%, #eee 40.2913699012%, transparent 40.2913699012%, transparent 42.6490214991%, #eee 42.6490214991%, #eee 48.821174201%, transparent 48.821174201%, transparent 51.178825799%, #eee 51.178825799%, #eee 57.3509785009%, transparent 57.3509785009%, transparent 59.7086300988%, #eee 59.7086300988%, #eee 65.8807828007%, transparent 65.8807828007%, transparent 68.2384343986%, #eee 68.2384343986%, #eee 74.4105871005%, transparent 74.4105871005%, transparent 76.7682386985%, #eee 76.7682386985%, #eee 82.9403914003%, transparent 82.9403914003%, transparent 85.2980429983%, #eee 85.2980429983%, #eee 91.4701957002%, transparent 91.4701957002%, transparent 93.8278472981%, #eee 93.8278472981%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.1721527019%, transparent 6.1721527019%, transparent 8.5298042998%, #eee 8.5298042998%, #eee 14.7019570017%, transparent 14.7019570017%, transparent 17.0596085997%, #eee 17.0596085997%, #eee 23.2317613015%, transparent 23.2317613015%, transparent 25.5894128995%, #eee 25.5894128995%, #eee 31.7615656014%, transparent 31.7615656014%, transparent 34.1192171993%, #eee 34.1192171993%, #eee 40.2913699012%, transparent 40.2913699012%, transparent 42.6490214991%, #eee 42.6490214991%, #eee 48.821174201%, transparent 48.821174201%, transparent 51.178825799%, #eee 51.178825799%, #eee 57.3509785009%, transparent 57.3509785009%, transparent 59.7086300988%, #eee 59.7086300988%, #eee 65.8807828007%, transparent 65.8807828007%, transparent 68.2384343986%, #eee 68.2384343986%, #eee 74.4105871005%, transparent 74.4105871005%, transparent 76.7682386985%, #eee 76.7682386985%, #eee 82.9403914003%, transparent 82.9403914003%, transparent 85.2980429983%, #eee 85.2980429983%, #eee 91.4701957002%, transparent 91.4701957002%, transparent 93.8278472981%, #eee 93.8278472981%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.1721527019%, transparent 6.1721527019%, transparent 8.5298042998%, #eee 8.5298042998%, #eee 14.7019570017%, transparent 14.7019570017%, transparent 17.0596085997%, #eee 17.0596085997%, #eee 23.2317613015%, transparent 23.2317613015%, transparent 25.5894128995%, #eee 25.5894128995%, #eee 31.7615656014%, transparent 31.7615656014%, transparent 34.1192171993%, #eee 34.1192171993%, #eee 40.2913699012%, transparent 40.2913699012%, transparent 42.6490214991%, #eee 42.6490214991%, #eee 48.821174201%, transparent 48.821174201%, transparent 51.178825799%, #eee 51.178825799%, #eee 57.3509785009%, transparent 57.3509785009%, transparent 59.7086300988%, #eee 59.7086300988%, #eee 65.8807828007%, transparent 65.8807828007%, transparent 68.2384343986%, #eee 68.2384343986%, #eee 74.4105871005%, transparent 74.4105871005%, transparent 76.7682386985%, #eee 76.7682386985%, #eee 82.9403914003%, transparent 82.9403914003%, transparent 85.2980429983%, #eee 85.2980429983%, #eee 91.4701957002%, transparent 91.4701957002%, transparent 93.8278472981%, #eee 93.8278472981%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.1721527019%, transparent 6.1721527019%, transparent 8.5298042998%, #eee 8.5298042998%, #eee 14.7019570017%, transparent 14.7019570017%, transparent 17.0596085997%, #eee 17.0596085997%, #eee 23.2317613015%, transparent 23.2317613015%, transparent 25.5894128995%, #eee 25.5894128995%, #eee 31.7615656014%, transparent 31.7615656014%, transparent 34.1192171993%, #eee 34.1192171993%, #eee 40.2913699012%, transparent 40.2913699012%, transparent 42.6490214991%, #eee 42.6490214991%, #eee 48.821174201%, transparent 48.821174201%, transparent 51.178825799%, #eee 51.178825799%, #eee 57.3509785009%, transparent 57.3509785009%, transparent 59.7086300988%, #eee 59.7086300988%, #eee 65.8807828007%, transparent 65.8807828007%, transparent 68.2384343986%, #eee 68.2384343986%, #eee 74.4105871005%, transparent 74.4105871005%, transparent 76.7682386985%, #eee 76.7682386985%, #eee 82.9403914003%, transparent 82.9403914003%, transparent 85.2980429983%, #eee 85.2980429983%, #eee 91.4701957002%, transparent 91.4701957002%, transparent 93.8278472981%, #eee 93.8278472981%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1200px;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.navigation li.active > a, .navigation li a:hover {
  padding-left: 2%;
  color: #ffffff;
  border-color: #ddd;
}

/* ==========================================================================
Helper classes
========================================================================== */
.album-intro, .album-descr, .works-grid .work-intro, .works-grid .work-intro .work-descr {
  text-align: center;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.button {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover, .button:focus {
  background-color: #11519a;
  color: #fff;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:disabled:hover {
  background-color: #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple]:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}

input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-family: helvetica, arial, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
  position: relative;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}

.row:last-child {
  margin-right: 0;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table__cell {
  display: table-cell;
}

.table__cell--middle {
  vertical-align: middle;
}

.page {
  overflow: hidden;
}

.relative {
  position: relative;
}

/*
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}



@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*/
.home-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fullwidth-slideshow {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.fullwidth-slideshow-pager-wrap {
  cursor: default;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 60px 0 20px 0;
  z-index: 25;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
  background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
  background: linear-gradient(top, transparent, rgba(0, 0, 0, 0.65));
  background-color: transparent;
}

.fullwidth-slideshow-pager {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  margin-left: 17.0596085997%;
}

.fullwidth-slideshow-pager:last-child {
  margin-right: 0;
}

.fsp-item {
  margin: 0 2px;
  cursor: pointer;
}

.fsp-item:active {
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -o-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.fsp-item img {
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -border-radius: 2px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}

.bg-scroll {
  background-attachment: scroll !important;
}

.black-arrows .owl-prev,
.black-arrows .owl-next {
  color: #fff;
}

.black-arrows .owl-prev:before,
.black-arrows .owl-next:before {
  background: black;
}

.gallery-bottom {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  padding-top: 10px;
}

.album-grid {
  margin: 0 0 0 -10px;
  padding: 0;
  list-style: none;
}

.album-item {
  padding: 0 0 10px 10px;
  height: auto;
  width: 50%;
  margin: 0;
  float: left;
}

.album-item:hover .album-intro {
  -webkit-transform: translateY(-99px);
  -moz-transform: translateY(-99px);
  -ms-transform: translateY(-99px);
  -o-transform: translateY(-99px);
  transform: translateY(-99px);
  opacity: 1;
  color: #ffffff;
  z-index: 3;
}

.album-item:hover .album-title {
  color: #ccc;
}

.album-item:hover .album-descr {
  color: #999;
}

.album-item:hover .album-img:after {
  background: rgba(20, 20, 20, 0.85);
}

.album-item:hover .album-img > img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.album-item:hover > a {
  position: relative;
  padding: 0;
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.album-item:hover a,
.album-item:hover a:hover {
  color: #111;
  border: none;
}

.album-intro {
  height: 84px;
  width: 100%;
  padding: 20px 20px 0;
  position: absolute;
  bottom: -94px;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  overflow: hidden;
  opacity: 0;
}

.album-title {
  margin: 0 0 8px;
  padding: 0;
  font-size: 0.8125em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.album-descr {
  font-size: 0.6875em;
  text-transform: uppercase;
  color: #aaa;
  line-height: 1.2;
}

.album-img {
  position: relative;
  overflow: hidden;
}

.album-img:after {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  content: " ";
  display: block;
  background: rgba(250, 250, 250, 0);
}

.album-img img {
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  display: block;
  overflow: hidden;
}

.works-grid {
  margin: 0 0 0 -10px;
  padding: 0;
  list-style: none;
}

.works-grid .work-item {
  width: 50%;
  margin: 0;
  padding: 0 0 10px 10px;
  float: left;
}

.works-grid .work-item:hover .work-intro {
  /*bottom: auto;*/
  /*top: 50%;*/
  -webkit-transform: translateY(-99px);
  -moz-transform: translateY(-99px);
  -ms-transform: translateY(-99px);
  -o-transform: translateY(-99px);
  transform: translateY(-99px);
  opacity: 1;
  color: #ffffff;
  z-index: 3;
}

.works-grid .work-item:hover .work-title {
  color: #ccc;
}

.works-grid .work-item:hover .work-descr {
  color: #999;
}

.works-grid .work-item:hover .work-img > img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.works-grid .work-item:hover .work-img:after {
  background: rgba(20, 20, 20, 0.85);
}

.works-grid .work-item > a {
  position: relative;
  padding: 0 0 84px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  padding: 0;
}

.works-grid .work-item a,
.works-grid .work-item a:hover {
  color: #111;
  border: none;
}

.works-grid .work-img {
  position: relative;
  overflow: hidden;
}

.works-grid .work-img:after {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  background: rgba(250, 250, 250, 0);
  content: " ";
  display: block;
}

.works-grid .work-img img {
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  display: block;
  overflow: hidden;
}

.works-grid .work-intro {
  height: 84px;
  width: 100%;
  padding: 20px 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  text-align: center;
  overflow: hidden;
  opacity: 0;
  bottom: -94px;
}

.works-grid .work-intro .work-title {
  margin: 0 0 8px;
  padding: 0;
  font-size: 0.8125em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.works-grid .work-intro .work-descr {
  font-size: 0.6875em;
  text-transform: uppercase;
  color: #aaa;
  line-height: 1.2;
}

#top,
#bottom,
#left,
#right {
  background: #ffffff;
  z-index: 9999999999999999;
}

#top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 15px;
  width: auto;
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 15px;
}

#bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 15px;
  width: auto;
}

#left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: 15px;
}

#header-wrap {
  height: 100%;
  width: 100%;
  height: 100vh !important;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

#header-wrap .container {
  height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

#header-wrap #header-slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

#header-wrap #header-slide .slider {
  margin: 0;
}

#header-wrap #header-slide .slide {
  max-width: 100%;
  height: 100vh;
  text-align: center;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#header-wrap #header-slide .item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
}

#header-wrap #header-slide .owl-wrapper-outer,
#header-wrap #header-slide .owl-wrapper,
#header-wrap #header-slide .owl-item,
#header-wrap #header-slide .item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#header-wrap #header-slide .owl-controls {
  z-index: 99;
}

#header-wrap #header-slide .owl-controls .owl-pagination .owl-page.active span {
  background: #101010;
}

#header-wrap .hero__logo {
  margin: 10%;
  max-height: 150px;
}

.slick-prev,
.slick-next {
  height: 50px;
  width: 50px;
  z-index: 3;
}

.slick-prev:before,
.slick-next:before {
  font-size: 48px;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.slick-dots {
  bottom: 60px;
  z-index: 5;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots li button:before {
  font-size: 24px;
  color: red;
}

@media (max-width: 767px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

#menulink {
  position: absolute;
  top: 35px;
  left: 35px;
  padding: 0;
  height: 24px;
  width: 36px;
  z-index: 999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.hamburger-wrapper {
  position: relative;
  height: 32px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.hamburger-wrapper div:nth-child(1) {
  top: 0px;
}

.hamburger-wrapper div:nth-child(2) {
  top: 10px;
}

.hamburger-wrapper div:nth-child(3) {
  top: 20px;
}

.hamburger-wrapper.open > div {
  background-color: #ffffff;
}

.hamburger-wrapper.open div:nth-child(1) {
  top: 16px;
  width: 26px;
  left: 5px;
}

.hamburger-wrapper.open div:nth-child(2) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hamburger-wrapper.open div:nth-child(3) {
  top: 3px;
  transform: rotate(30deg);
  width: 18px;
  left: 10px;
}

.hamburger {
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-bar {
  background: #ffffff;
  height: 100px;
  border-bottom: 1px solid #e8e8e8;
}

.nav-bar .hamburger {
  background-color: #000;
}

#nav-brand {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 2px solid #000;
  text-align: center;
  display: inline-block;
  left: 50%;
  height: 55px;
  width: 55px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#nav-brand img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 39px;
  height: 25px;
}

.navigation-wrapper {
  padding-top: 65px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 900;
  display: none;
}

.navigation {
  padding-top: 20px;
  padding-right: 5%;
  padding-left: 5%;
  display: none;
}

.navigation li {
  list-style: none;
  transition: all ease .6s;
}

.navigation li.small-padding {
  margin-bottom: 10px;
}

.navigation li a {
  padding: 10px 0 10px 10px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  display: block;
  color: #999;
  text-transform: uppercase;
  font-size: 150%;
  letter-spacing: 2px;
  border-left: 3px solid #000;
}

.show-menu {
  display: block;
}

.tb {
  height: 100%;
  width: 100%;
  position: relative;
  display: table;
}

.tb .tb-cell {
  height: 100%;
  width: auto;
  margin: 15px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */
.footer-distributed .footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-distributed .footer-links li a {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-distributed .footer-links li a:hover {
  color: #999;
}

.footer-distributed .footer-links li a.active {
  color: #292c2f;
  padding: 5px;
  border: 1px solid #999;
  background: white;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  height: auto;
  max-width: 100%;
}

/* ==========================================================================
Media Queries
========================================================================== */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

html {
  font-family: "Proxima Nova", "Helvetica", "Arial", sans-serif;
}

body {
  background: blue;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AvenirNextLTPro-Regular", "Arial", "Helvetica", sans-serif;
  margin: 0 0 0.75em;
  text-transform: uppercase;
}

h1 {
  font-size: 4.2087269129em;
}

h2 {
  font-size: 3.1573345183em;
}

h3 {
  font-size: 2.368593037em;
}

h4 {
  font-size: 1.776889em;
}

h5 {
  font-size: 1.333em;
}

.headline-keyline {
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 4%;
  padding-bottom: 16px;
  border-bottom: 1px solid #000000;
}

p {
  margin: 0 0 0.75em;
  font-weight: 400;
}

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease;
}

a:active, a:focus, a:hover {
  color: #104c90;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

.trial_row {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 100%;
  width: auto;
  min-height: 768px;
}

.content-block__image {
  display: table-cell;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  position: relative;
}

.content-block__image-ratio {
  display: table-cell;
  width: 50%;
  display: block;
  padding-bottom: 100%;
}

.content-block__text {
  display: table-cell;
  width: 100%;
  display: block;
  background: #ffffff;
  padding: 40px 28px;
  position: relative;
}

.content-block__text h2 {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .trial_row {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 100%;
    width: auto;
    min-height: 768px;
  }
  .content-block__image {
    display: table-cell;
    width: 50%;
  }
  .content-block__text {
    display: table-cell;
    width: 50%;
    padding: 60px 40px;
    vertical-align: middle;
  }
  .content-block__imagee {
    display: table-cell;
    width: 50%;
  }
  .content-block__textt {
    display: table-cell;
    width: 50%;
    padding: 60px 40px;
    vertical-align: middle;
  }
  .push-l {
    left: 50%;
  }
  .push-r {
    right: 50%;
  }
  .content-block__image-ratio {
    display: none;
  }
}

/* ==========================================================================
Media Queries
========================================================================== */
