.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	text-align: left;
	width: 100%;


	.footer-left p {
		color: #8f9296;
		font-size: 14px;
		margin: 0;
	}


	/* Footer links */

	.footer-links {
		color: $white;
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 10px;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 10px;
		}
	}

	a {
		color: $white;
		letter-spacing: $letter-spacing;
		text-transform: $uppercase;

		&:hover {
			color: $medium-gray;
		}

		&.active {
			background: white;
			border: 1px solid #999;
			color: #292c2f;
			padding: 5px;
		}
	}

	.footer-right {
		float: right;

		img {
			height: 47px;
		}
	}

}


@media (max-width: 600px) {

	.footer-distributed {

		.footer-left,
		.footer-right {
			text-align: center;
		}

		.footer-right {
			float: none;
			margin: 0 auto 20px;
		}

		.footer-left .footer-links {
			line-height: 1.8;
		}
	}

}