
/* #{$all-text-inputs},
select[multiple] {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}
*/

%form_font {
  font-size: (12px);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777;
  border: 2px solid rgba($black, 0.1);
  outline: none;
  padding: 6px 13px;
  vertical-align: middle;
  font-family: inherit;

  // Vendor Prefiix Needed?
  border-radius: 0;

  // Vendor Prefiix Needed?
  box-shadow: none;

  width: 100%;
  background-image: none;
  background-color: #fff;

  &:hover {
    border-color: rgba($black, .3);
  }

  &:focus {
    color: #111;
    border-color: rgba($black, .9);
    outline: none;

    // Vendor Prefiix Needed?
    box-shadow: 0 0 3px rgba(0,0,0, .3);
  }
}


.form {
  margin: 20px auto;
  > div {
    margin-bottom: 15px;
  }

input {
  @extend %form_font;
  display: inline-block;
  height: 37px;

  // Vendor Prefiix Needed?
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

textarea {
  @extend %form_font;
  height: auto;
  display: block;
  padding: 6px 12px;
}

}
