// Home Page Slider

#top,
#bottom,
#left,
#right {
  background: $white;
  z-index: 9999999999999999;
}

#top {
  @include position(fixed, 0 0 null 0);
  @include size(auto, 15px);
}

#right {
  @include position(fixed, 0 0 0 null);
  @include size(15px, auto);
}

#bottom {
  @include position(fixed, null 0 0 0);
  @include size(auto, 15px);
}

#left {
  @include position(fixed, 0 null 0 0);
  @include size(15px, auto);
}


#header-wrap {
  @include size(100%);
  height: 100vh !important;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  .container {
    height: 100vh;
    position: relative;
    padding-bottom: 50px;
  }
  #header-slide {
    @include position(absolute, 0 0 0 0);
    @include margin(0);
    .slider {
      margin: 0;
    }
    .slide {
      max-width: 100%;
      height: 100vh;
      text-align: center;
      background-position: center center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
    .item {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-origin: padding-box;
    }
    .owl-wrapper-outer,
    .owl-wrapper,
    .owl-item,
    .item {
      @include size(100%);
      overflow: hidden;
    }
    .owl-controls {
      z-index: 99;
      .owl-pagination .owl-page.active span {
        background: #101010;
      }
    }
  }
  .hero__logo {
    margin: 10%;
    max-height: 150px;
  }
}




.slick-prev,
.slick-next {
  @include size(50px);
  z-index: 3;
  &:before {
    font-size: 48px;
  }
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.slick-dots {
  bottom: 60px;
  z-index: 5;
  li.slick-active button:before {
    color: white;
  }
  li button:before {
    font-size: 24px;
    color: red
  }
}






@media (max-width: 767px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
