*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-family: helvetica, arial, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
  @include position;
}


.container {
  @include outer-container(100%);
  position: relative;
}

.row {
  @include span-columns(12);
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table__cell {
  display: table-cell;
}

.table__cell--middle {
  vertical-align: middle;
}


// New Styles 

.page {
  overflow: hidden;
}

.relative {
    position: relative;
}


/*
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}



@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*/

// Slider 
.home-section{
  width: 100%;
  display: block; 
  position: relative;
  overflow: hidden;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.fullwidth-slideshow{
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}




// Pager
.fullwidth-slideshow-pager-wrap{
    cursor: default;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 60px 0 20px 0;
    
    z-index: 25;
    
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .65)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .65));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .65));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .65));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .65));
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .65));
    background-color: rgba(0, 0, 0, 0);
}

.fullwidth-slideshow-pager {
  @include span-columns(8 of 12);
  @include shift(2);
}


.fsp-item{
  margin: 0 2px;
  cursor: pointer;
  &:active{
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -o-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }
  img {
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -border-radius: 2px;

    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .75);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .75);
  }
}





.bg-scroll{
  background-attachment: scroll !important;
}

.black-arrows {
  .owl-prev,
  .owl-next {
    color: #fff;
    &:before {
      background: rgba(0,0,0, 1);
    }
  }
}



















.gallery-bottom {
  width: 100%;
  display: block; 
  position: relative;
  overflow: hidden;
  background: $white;
  padding-top: 10px;
}












.album {

@include e(grid) {
  @include margin(0 0 0 -10px);
  @include padding(0);
  list-style: none;
}

  @include e(item) {
    @include padding(0 0 10px 10px);
    @include size(50% auto);
    @include margin(0);
    float: left;

    &:hover {
      .album-intro {
        @include transform(translateY(-99px));
        opacity: 1;
        color: $white;
        z-index: 3; 
      }
      .album-title {
        color: #ccc;
      }
      .album-descr {
        color: #999;
      }
      .album-img {
        &:after {
          background: rgba(20,20,20, .85);
        }
        > img {
          @include transform(scale(1.05));
        }
      }

      > a {
        @include position(relative);
        @include padding(0);
        display: block;
        text-decoration: none;
        overflow: hidden; 
      }

      a,
      a:hover{
        color: #111;
        border: none;
      }

    }
  }

  @include e(intro) {
    @include size(100% 84px);
    @include padding(20px 20px 0 20px);
    @include position(absolute, null null -94px null);
    @include transition(all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000));
    @extend %center-align;
    overflow: hidden;
    opacity: 0;
  }

  @include e(title) {
    @include margin(0 0 8px 0);
    @include padding(0);
    font-size: em(13px);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
  }

  @include e(descr) {
    @extend %center-align;
    font-size: em(11px);
    text-transform: uppercase;
    color: #aaa;
    line-height: 1.2;
  }

  @include e(img) {
    @include position(relative);
    overflow: hidden;
    &:after{
      @include size(100%);
      @include position(absolute, 0 null null 0);
      @include transition(all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000));
      content: " ";
      display: block;
      background: rgba(250,250,250, 0);
    }
    img {
      @include size(100% null);
      @include transition(all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000));
      display: block;
      overflow: hidden;
    }

  }

}












.works-grid {
  @include margin(0 0 0 -10px);
  @include padding(0);
  list-style: none;

  .work-item {
    @include size(50% null);
    @include margin(0);
    @include padding (0 0 10px 10px);
    float: left;

    &:hover {
      .work-intro{
        /*bottom: auto;*/
        /*top: 50%;*/
        @include transform(translateY(-99px));
        opacity: 1;
        color: $white;
        z-index: 3; 
      }
      .work-title {
        color: #ccc;
      }
      .work-descr {
        color: #999;
      }
      .work-img > img{
        @include transform(scale(1.05));
      }
      .work-img:after{  
        background: rgba(20,20,20, .85);
      }
    }

    > a {
      @include position(relative);
      @include padding(0 0 84px 0);
      display: block;
      text-decoration: none;
      overflow: hidden; 
        padding: 0;
    }

    a,
    a:hover{
      color: #111;
      border: none;
    }
  }



.work-img {
  @include position(relative);
  overflow: hidden;
  &:after{
    @include size(100%);
    @include position(absolute, 0 null null 0);
    @include transition(all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000));
    background: rgba(250,250,250, 0);
    content: " ";
    display: block;
  }
  img {
    @include size(100% null);
    @include transition(all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000));
    display: block;
    overflow: hidden;
  }
}



.work-intro {
  @include size(100% 84px);
  @include padding(20px 20px 0 20px);
  @include position(absolute, null null 0 0);
  @include transition(all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000));
  @extend %center-align;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  bottom: -94px;
  
  .work-title{
    @include margin(0 0 8px 0);
    @include padding(0);
    font-size: em(13px);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.2;
  }

  .work-descr{  
    @extend %center-align;
    font-size: em(11px);
    text-transform: uppercase;
    color: #aaa;
    line-height: 1.2;
  }
}





}





.valign-middle {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.valign-text-wrapper {
  width: 100%;
  padding: 0 15px;
}


.empty-space {
  display: block;
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.col-xs-b15 {
    height: 15px;
    margin-bottom: 0;
}












/*table*/

.table-view {
  display: table;
  width: 100%;
  height: 100%;
}

.row-view {
  display: table-row;
}

.cell-view {
  display: table-cell;
  width: 10000px;
  vertical-align: middle;
}























.blog-landing-entry-3 {
  position: relative;

  .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    .valign-text-wrapper {
      position: relative;
      z-index: 1;
    }

    .valign-text-wrapper .align {
      float: right;
      max-width: 645px;
      margin: 0 100px;
      text-align: right;
    }
  }


  .right {
    position: relative;
    left: 50%;
    width: 50%;
    background: $white;

    .text {
      position: relative;
      float: left;
      // width: 58%;
      //  padding-right: 15px;
      //  padding-left: 110px;
      width: 100%;
      padding: 15%;
    }

    .avatar-wrapper {
      position: absolute;
      top: 50%;
      right: 0;
      width: 42%;
      margin-top: -75px;
      text-align: center;
      img {
        display: inline-block;
        width: 105px;
        height: 105px;
        vertical-align: bottom;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }

  .middle-wrapper {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 105px;
    height: 105px;
    margin: -53px 0 0 -53px;
    padding-top: 26px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #222;
  }

}




@media (min-width: 990px) {
  &.new-view {
    .inline-tags {
      &:before {
        display: none;
      }
      &:after {
        display: inline-block;
      }
    }
    .left {
      left: 50%;
      .valign-text-wrapper .align {
        float: left;
        text-align: left;
      }
    }
    .right {
      left: 0;
      .text {
        float: right;
        // New Styles
        display: table;
      }
      .avatar-wrapper {
        right: auto;
        left: 0;
      }
    }
  }
}


/* Tablets (>=768px)*/

@media (max-width: 990px) {

  .blog-landing-entry-3 {

    .left {
      position: relative;
      width: auto;
      height: 500px;
      .valign-text-wrapper .align {
        float: none;
        margin: 0 auto;
        text-align: center;
      }
    }

    .right {
      left: auto;
      width: auto;
      .avatar-wrapper {
        position: relative;
        width: auto;
        margin: 0;
        padding-bottom: 30px;
      }
      .text {
        float: none;
        width: auto;
        margin: 0 auto;
        text-align: center;
      }
      .cell-view {
        display: block;
        width: auto;
        height: auto;
      }
    }

    .middle-wrapper {
      top: 500px;
    }

    .divider {
      margin: 20px auto;
    }

  }

}








/* ==============================
   Contact section
   ============================== */




.eemail_container,
.llocation_container {
  @include span-columns(6 of 12);
  margin-bottom: 20px;
}


.contact-item{
    position: relative;
    color: #444;

    text-align: center;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.ci-title{
    margin-bottom: 1px;
    color: #777;    
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.ci-text{
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}



.social {
  @extend .row;
  text-align: center;
}
.social_item {
    @include size(50px);
    display:inline-block;
    vertical-align: bottom;
    margin-bottom: 20px;
    margin-right: 10px;
    background-position: center center;
    background-size: contain;
    transition: all .5s;

    &:last-child {
      margin-right: 0px;
    }

    &.facebook {
      background-image: url('../img/icons/facebook_outline.svg');
      &:hover {
        background-image: url('../img/icons/facebook.svg');
      }
    }

    &.twitter {
      background-image: url('../img/icons/twitter_outline.svg');
      &:hover {
        background-image: url('../img/icons/twitter.svg');
      }
    }

    &.soundcloud {
      background-image: url('../img/icons/soundcloud_outline.svg');
      &:hover {
        background-image: url('../img/icons/soundcloud.svg');
      }
    }

    &.instagram {
      background-image: url('../img/icons/instagram_outline.svg');
      &:hover {
        background-image: url('../img/icons/instagram.svg');
      }
    }

    &.snapchat {
      background-image: url('../img/icons/snapchat_outline.svg');
      &:hover {
        background-image: url('../img/icons/snapchat.svg');
      }
    }
}

@media (max-width: $medium-screen) {
  .social_item {
    @include size(35px);
  }

  .eemail_container,
  .llocation_container {
    @include span-columns(12 of 12);
  }
}




// Start of Own

.img-ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


