figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  height: auto;
  max-width: 100%;
}

/* ==========================================================================
Media Queries
========================================================================== */

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}