/*

.flexbox-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}


*/

.shame-btn-form {
	background: rgba(34, 34, 34, 0.9);
	border: 2px solid transparent;
	color: $white;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	letter-spacing: 2px;
	padding: 8px 37px;
	text-decoration: none;
	text-transform: uppercase;
}

.shame-f {
	padding-top: 27.5 !important;
}

.shame-ff {
	height: 50px !important;
}