#wrapper {
	@include position
}

#top,
#bottom,
#left,
#right {
  background: red;
  z-index: 9999999999999999;
}

#top {
	@include position(fixed, 0 0 null 0);
}

#right {
	@include position(fixed, 0 0 0 null);
}

#bottom {
	@include position(fixed, null 0 0 0);
}

#left {
	@include position(fixed, 0 null 0 0);
}


// Hamburger Menu
.hamburger-wrapper {
	@include position(fixed, 25px null null 25px)
	@include padding(0)
    @include size(36px, 24px); 
    z-index: 999;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.inner-hamburger-wrapper {
	@include position(relative);
    @include size(100%, 32px); 
    @include padding(8px null);
}

.hamburger {

    background-color: red;
    border-radius: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}





// Nav
.navigation-wrapper {
    background: rgba(0, 0, 0, .9);
    padding: 65px 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    display: none;
}

.navigation {
    padding: 20px 5% 0 5%;
    display: none;
	li {
		list-style: none;
		transition: all ease .6s;
		&.small-padding {
			margin: 0 0 10px 0;
		}
		a {
			display: block;
			padding: 10px 0 10px 10px;
			color: #bbb;
			text-transform: uppercase;
			font-size: 150%;
			letter-spacing: 2px;
			border-left: 3px solid #000;
			-moz-transition: all ease .3s;
			-webkit-transition: all ease .3s;
			-ms-transition: all ease .3s;
			-o-transition: all ease .3s;
			transition: all ease .3s;
			&:hover {
				color: #fff;
				padding-left: 2%;
				border-color: #eee;
			}
		}
	} 
}

.show-menu {
    display: block;
}


#header-wrap {
	position: relative;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 1;
	#header-slide {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		z-index: -1;
		.slide {
  max-width: 100%;
  height: 100vh;
  text-align: center;
}
		.item {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			background-origin: padding-box;
		}
		.owl-wrapper-outer,
		.owl-wrapper,
		.owl-item,
		.item {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.owl-controls {
			z-index: 99;
			.owl-pagination .owl-page.active span {
				background: #101010;
			}
		}
	}
}